{% extends 'parent/base.html' %}
{% block title %}posts{% endblock %}
{% load jformat %}

{% block content %}
    {% for post in posts %}
        <div>
            <h3 style="color:black;"><a href={{ post.get_absolute_url }}>{{ post.title }}</a></h3>
            <p>نویسنده : {{ post.author }}</p>
            <img src="{{ post.images.first.imag_file.url }}" alt="{{ post.images.first.name }}">
            <h4>{{ post.content | truncatewords:20}}</h4>
            <p>تاریخ انتشار:{{ post.published | jformat:"%Y/%m/%d"}}</p>
            <hr>
        </div>
    {% endfor %}

    <p>دسته بندی ها</p>

    <a href="{% url 'blog:posts_list_category' 'وبسایت'%}">وبسایت</a>
    <br>
    <a href="{% url 'blog:posts_list_category' 'رباتیک'%}">رباتیک</a>
    <br>
    <a href="{% url 'blog:posts_list_category' 'امنیت'%}">امنیت</a>
    <br>
    <a href="{% url 'blog:posts_list_category' 'زبان برنامه نویسی'%}">زبان برنامه نویسی</a>
    <br>
    <a href="{% url 'blog:posts_list_category' 'توسعه دهنده'%}">توسعه دهنده</a>
    <br>
    <a href="{% url 'blog:posts_list_category' 'شبکه'%}">شبکه</a>
    <br>
    <a href="{% url 'blog:posts_list_category' 'اینترنت اشیا'%}">اینترنت اشیا</a>
    <br>
    <a href="{% url 'blog:posts_list_category' 'هوش مصنوعی'%}">هوش مصنوعی</a>
    <br>
    <a href="{% url 'blog:posts_list_category' 'تکلونوژی'%}">تکلونوژی</a>


{% endblock %}